<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}"  rel="stylesheet"/>
            <link href="{{ asset('bootstrap/bootstrap.min.css') }}"  rel="stylesheet"/>
            <link href="{{ asset('bootstrap/bootstrap-theme.css') }}"  rel="stylesheet"/>

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script data-main="{{ asset('bundles/app/js/app') }}" src="{{ asset('bundles/app/js/lib/require.js') }}"></script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                    <div class="col-md-12">

                        <div id="menu"></div>

                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div id="header" style="text-align: center">
                                <p>{% trans %}main_page{% endtrans %}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4"></div>
                        <div class="col-md-5">
                            <div id="content" style="display: none;"></div>
                        </div>

                        {% block body %}

                            {{ locale_switcher() }}

                        {% endblock %}
                    </div>
            </div>
        </div>
        <div id="bigPhoto" style="width: 100vh; height: 100vh; display: none;"><img src="" id="big" ></div>

        <div id="loadNone"></div>


    {% block javascripts %}

        <script src="{{ asset('js/jquery.min.js') }}"></script>

        <script src="{{ asset('bootstrap/bootstrap.min.js') }}"></script>

    {% endblock %}

    </body>
</html>
