{% extends 'base.html.twig' %}

{% block title %}Flickr{% endblock %}

{% block body %}
    <img src="" id="big">

    <div id="none" ></div>
    <table border='1'>
        {% for key, photo in data['allPhotos'] %}

            <tr class="click">
                <td><img src="{{ data['sizes'][key][0].source }}" foo="{{ data['bigPhotoUrl'][key] }}"></td>
                <td><p>{{ photo.title }}</p></td>
                <td><a href="{{ data['url'][key] }}">>>></a></td>
            </tr>

        {% endfor %}
    </table>

{% endblock %}



{% block stylesheets %}

    <link href="{{ asset('bundles/flickrflickr/css/flickr.css') }}" rel="stylesheet" />

    {{ parent() }}

{% endblock %}


{% block javascripts %}
{{ parent() }}

    <script src='{{ asset("bundles/flickrflickr/js/flickr.js") }}' ></script>

{% endblock %}